@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Variable */
:root{
    --main-color : #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    /* --cyan-light: #aef1ee; */
    --cyan-light : #ABF0FE;
    --white: #ffffff;
    --white-alpha-25: rgba(255,255,255, 0.25);
    --white-alpha-40: rgba(405,255,255, 0.4);
    --white-alpha-80: rgba(405,255,255, 0.8);
    --black-semi-dark : rgba(18, 18, 18, 0.7);
    --yellow-light : rgba(248, 248, 45, 0.3);
    --backdrop-filter-blur: blur(5px);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light) 100%); */
    background: linear-gradient(180deg, var(--cyan-light) 0%, var(--black-semi-dark) 100%);
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    /* -webkit-top-highlight-color: transparent; */
    padding: 5vh 15px;
    padding-top: 80px !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--green-yellow); */
    z-index: -1;
    opacity: 0.12;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 80vh;
    border-radius: 30px;
}

a{
    color: black !important;
    text-decoration: none;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.container{
    /* background: red; */
    padding: 0 40px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}

/* NAVBAR */
.navbar{
    /* background: var(--white-alpha-80); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
}

.navbar-nav{
    /* background: blue; */
    align-items: center;
}

.navbar-brand{
    font-weight: 700;
}

.box-nav {
    width: 110px;
    height: 40px;
    text-align: center;
}


/* .active{
    background: linear-gradient(180deg, #FFFFFF -19.55%, #F8F82D 98.96%, #F8F82D 98.97%, rgba(248, 248, 45, 0.6) 98.97%);
    filter: blur(0.5px);
    border-radius: 20px;
    border: 2px solid var(--white-alpha-40);
} */

/* .active a{
    color: #FF0000 !important;
} */

.nav-link{
    font-weight: 700;

}

.nav-responsive{
    margin: 10px 0;
}


/* HOME */
.home-section{
    display: flex;
    /* padding: 120px 0; */
    /* margin-top: 40px; */
}

.home-text,
.home-img{
    width: 50%;
    padding: 15px;
}

.home-text h1{
    font-weight: 800;
    font-size: 72px;
}

.home-text p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.home-text .text-yellow{
    color: #F8F82D;
}

.home-img{
    position: relative;
}

.home-img .img-box{
    max-width: 360px;
    border-radius: 50%;
    margin: auto;
}

.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
}

.purple{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 20%;
    top: 0;
    z-index: -1;
    
    background: radial-gradient(50% 50% at 50% 50%, #F799FF 0%, rgba(247, 153, 255, 0) 100%);
    filter: blur(4px);
}

.yellow{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 15%;
    top: 30%;
    z-index: -1;
    
    background: radial-gradient(50% 50% at 50% 50%, #FCFF65 0%, rgba(252, 255, 101, 0) 100%);
    filter: blur(4px);
}

.pink{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 40%;
    top: 20%;
    z-index: -1;

    background: radial-gradient(50% 50% at 50% 50%, #FFA5A5 0%, rgba(255, 165, 165, 0) 100%);
    filter: blur(4px);
}

/* About */
.hidden{
    display: none !important;
}

.title{
    margin-top: 20px;
}

.title h1{
    font-weight: 800;
}