@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/* @import "~rfs/stylus"; */

/* Variable */
:root{
    --main-color : #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    /* --cyan-light: #aef1ee; */
    --cyan-light : #ABF0FE;
    --white: #ffffff;
    --white-alpha-25: rgba(255,255,255, 0.25);
    --white-alpha-40: rgba(405,255,255, 0.4);
    --white-alpha-80: rgba(405,255,255, 0.8);
    --black-semi-dark : rgba(18, 18, 18, 0.7);
    --yellow-light : rgba(248, 248, 45, 0.3);
    --backdrop-filter-blur: blur(5px);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}

html{    
    overflow-y: scroll;
    overflow-y: overlay;
}

body{
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light) 100%); */
    background: linear-gradient(180deg, var(--cyan-light) 0%, var(--black-semi-dark) 100%);
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    /* -webkit-top-highlight-color: transparent; */
    padding: 5vh 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--green-yellow); */
    z-index: -1;
    opacity: 0.12;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 30px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.main{
    position: relative;
    width: 98%;
    max-width: 1200px;
    margin: auto;
}

.container{
    padding: 0 40px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}

/* NAVBAR */
.navbar{
    /* background: #fff; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
}

.navbar-nav{
    /* background: blue; */
    align-items: center;
}

.navbar-brand{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.nav-link{
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0 4px;
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2132CF;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .5s;
}

.nav-responsive{
    background-color: white;
    margin: 10px 0;
    z-index: 2;
}

.fadeIn{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.fadeOut{
    -webkit-animation: fadeOut 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOut 1s; /* Firefox < 16 */
        -ms-animation: fadeOut 1s; /* Internet Explorer */
         -o-animation: fadeOut 1s; /* Opera < 12.1 */
            animation: fadeOut 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.active{
    color: #2132CF !important;
}


/* HOME */
.home-section{
    display: flex;
    flex-wrap: wrap-reverse;
}

.home-text,
.home-img{
    width: 40%;
    min-width: 300px;
    padding: 15px;
    max-height: 400px;
}

.home-text h1{
    font-weight: 800;
    /* font-size: 64px; */
}

.home-text p{
    font-family: "Poppins", sans-serif;
    /* font-size: 18px; */
    font-weight: 400;
}

.home-text .text-yellow{
    color: #F8F82D;
}

.home-img{
    position: relative;
}

.home-img .img-box{
    max-width: 360px;
    border-radius: 50%;
    margin: auto;
}

.home-img .img-box img{
    width: 80%;
    border-radius: 50%;
}

.purple{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 20%;
    top: 0;
    z-index: -1;
    
    background: radial-gradient(50% 50% at 50% 50%, #F799FF 0%, rgba(247, 153, 255, 0) 100%);
    filter: blur(4px);
}

.yellow{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 15%;
    top: 30%;
    z-index: -1;
    
    background: radial-gradient(50% 50% at 50% 50%, #FCFF65 0%, rgba(252, 255, 101, 0) 100%);
    filter: blur(4px);
}

.pink{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 40%;
    top: 20%;
    z-index: -1;

    background: radial-gradient(50% 50% at 50% 50%, #FFA5A5 0%, rgba(255, 165, 165, 0) 100%);
    filter: blur(4px);
}

/* About */
.hidden{
    display: none !important;
}

.title{
    margin-top: 80px;
    margin-bottom: 20px;
}

.title h1{
    font-weight: 800;
}


.box-image{
    position: relative;
    width: 280px;
    height: 360px;
    box-sizing: border-box;
    border-radius: 30px;
    background: white;
    max-height: 300px;
}

.box-image img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.desc-about{
    text-align: justify;
}

.about-kiri img{
    zoom: 0.6;
}


/* PROJECT */
/* .project-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

#project .row {
    width: 100%;
}

.container-project{
    padding: 20px 0;;
}

.line-project{
    width: 100%;
    height: 3px;
    background: #f2f2f2;
    margin: 20px 0;
}


.card-picture{
    width: 90%;
    max-width: 450px;
}

.card-picture img{
    /* zoom: 0.8; */
    border-radius: 10px;
}

.text-justify{
    text-align: justify;
}

/* CONTACT */

.field-contact{
    padding-left: 5%;
}

.input{
    width: 90%;
    padding: 1% 10px;

    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.input input,
.input textarea{
    background: transparent;
    border: none;
    width: 100%;
}

.message{
    height: 45%;
}

.submit{
    width: 160px;
}

.submit a{
    color: #2132CF;
    font-weight: bold;
}

.submit a:hover{
    color: #0C852E;
}

.contact-desc{
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Quicksand", sans-serif;
}

.contact-desc h5{
    font-size: 20px;
    font-weight: bold;    
}

.sub-title{
    font-weight: 600;
}

.line{
    width: 100%;
    height: 3px;
    background: #f2f2f2;
}

.contact-email{
    margin: 20px;
}

.circle-sosmed{
    background: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    padding: 0;
}

.circle-sosmed a {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    zoom: 1.2;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-out 0.5s;
}

.github{
    color: black;
    transition: ease-out 0.5s;
}

.linkedin{
    color: #0099CC;
    transition: ease-out 0.5s;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(118, 255, 175);
    outline: 1px solid slategrey;
  }